<% include ./bootstrap_up.ejs %>
        <h1><a href="/"> Free Order</a></h1>  
        <% if(login) { %>
            <p>
                I am <%= login.Manager_Name %>
            </p>
            <p> 
                <a href="/auth/logout">Logout</a>
            </p>
            <% if(login.Power != 0) { %>
                <a href="/form/permit">Permit Restaurant</a>
            <% } %>
        <% } else { %>
            <p> 
                <a href="/auth/login">Login</a>
            </p>
            <p>
                <a href="/auth/register">Register</a>
            </p>
        <% } %>