<h1> Login </h1>
    <form action="/auth/login" method="post">
        <p>
            <input type="text" name="username" placeholder="Your email">
        </p>
        <p>
            <input type="password" name="password" placeholder="Your password">
        </p>
        <p>
            <input type="submit" value="Submit">
            <input type="button" value="Back" onclick="history.back();">
        </p>
    </form>