<h1> Register </h1>
    <form action="/auth/register" method="post">
        <p>
            <input type="text" name="username" placeholder="Email">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
        <p>
            <input type="text" name="displayname" placeholder="Name">
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>