<% include ../layout.ejs %>
        <artcle>
            <form action="/home/add" method="post">
                <p>
                    <input type="text" name="email" placeholder="email">
                </p>
                <p>
                    <input type="text" name="name" placeholder="name">
                </p>
                <p>
                    <input type="submit">
                </p>
            </form>
        </artcle>

    </body>
</html>